.color {
  color: rgba(17, 189, 255, 1);
}

.color {
  color: rgba(157, 253, 206, 0.5);
}

.color {
  color: rgba(62, 207, 142, 0.5);
}

.color {
  color: rgba(254, 103, 126, 1);
}

.color {
  color: rgba(133, 137, 255, 1);
}

.color {
  color: rgba(91, 72, 175, 1);
}

.color {
  color: rgba(91, 72, 175, 1);
}
