@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Orbitron');
/*
font-family: 'Cormorant SC', serif;
font-family: 'Orbitron', sans-serif;
*/

.lightBlue {
  color: rgba(17, 189, 255, 1);
}

.lightGreen {
  color: rgba(157, 253, 206, 1);
}

.seaGreen {
  color: rgba(62, 207, 142, 1);
}

.salmonRed {
  color: rgba(254, 103, 126, 1);
}

.lightPurple {
  color: rgba(133, 137, 255, 1);
}

.purple {
  color: rgba(91, 72, 175, 1);
}


.roomList {
  margin: 0 35px 0 270px;
}

body {
  margin: 0;
}

.nav-btns {
  margin-top: 4px;
  color: #fff;
  margin-right: 16px;
  padding-left: 20px;
  border-left: 1px solid rgb(134,134,134);
  border-left: 1px solid rgba(0,0,0,.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.nav-btns span {
  color: #141414;
  font-family: 'Cormorant SC', serif;
  font-size: 16px !important;
}

.nav-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px !important;
}

/* Video */

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  /*position: fixed;*/
  margin-top: -70px;
  z-index:-1;
}

.title-video {
  color: #fff;
  z-index:1;
  top: 40%;
  max-width: 80%;
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  font-size: 130px !important;
  text-shadow: -2px 2px 0px rgba(20, 20, 20, 1);
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
