@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Orbitron');
@import url('https://fonts.google.com/?query=merr&selection.family=Merriweather');
/*
font-family: 'Cormorant SC', serif;
font-family: 'Merriweather', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Merriweather', serif;
*/

body {
  margin: 0;
  background-color: #FAFBFC;
  font-family: 'Merriweather', serif;
}

.background {
  background-image: url(./grey.png);
  background-repeat: repeat;
}

.lightGrey {
  color: rgba(178, 178, 179, 0.86);
}

.lightBlue {
  color: rgba(17, 189, 255, 1);
}

.lightGreen {
  color: rgba(157, 253, 206, 1);
}

.seaGreen {
  color: rgba(62, 207, 142, 1);
}

.salmonRed {
  color: rgba(254, 103, 126, 1);
}

.lightPurple {
  color: rgba(133, 137, 255, 1);
}

.purple {
  color: rgba(91, 72, 175, 1);
}

.request-btn {
  height: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.req-contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  overflow-y: hidden;
  max-height: 200px;
}


.card-text h1 {
  text-align: center;
}

.card-text h2 {
  text-align: center;
}

.card-text h4 {
  text-align: center;
}

.nav-btns {
  margin-top: 4px;
  color: #fff;
  margin-right: 16px;
  padding-left: 20px;
  border-left: 1px solid rgb(134,134,134);
  border-left: 1px solid rgba(0,0,0,.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.nav-btns span {
  color: #141414;
  font-family: 'Cormorant SC', serif;
  font-size: 16px !important;
}

.nav-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px !important;
}

/* Video */

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  /*position: fixed;*/
  margin-top: -70px;
  z-index:-1;
}

.title-video {
  color: #fff;
  z-index:1;
  top: 40%;
  max-width: 80%;
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  font-size: 130px !important;
  text-shadow: -2px 2px 0px rgba(20, 20, 20, 1);
}

.main-description {
  color: #e6e6e6;
  z-index:1;
  top: 65%;
  max-width: 100%;
  position: absolute;
  font-family: 'Merriweather', serif;
  font-size: 16px !important;
  background-color: rgba(24,11,11,.5);
  text-align: center;
  line-height: 2;
  text-shadow: -2px 0.5px 0px rgba(20, 20, 20, 1);
  letter-spacing: 1.2px;
  word-spacing: 1px;
}

.main-text {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CompanySideNav */

.myInfo {
  margin: 10px 10px 50px 20px;
}

/* UserSideNav */

/*.side-nav {

}

.profile img {
  border: 10px;
  border-color: #fff !important;
  border-width: medium;
  border-radius: 52% !important;
}

.profile h1 {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 28px !important;
}

.profile {
  text-align: center;
  padding-left: 0px;
  vertical-align: middle;
  padding-top: 10px;
  background-color: rgba(91, 72, 175, 1);
}

.profile p {
  margin-bottom: 0;
  padding-bottom: 18px;
}
.side-nav-menu {

}*/




/* User Page Cards */

.request-btn {
  height: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.shindig-location {
  margin: 0;
}

.request-btn button {
  /*background-color: rgba(62, 207, 142, 1) !important;*/
}

.req-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
}

.card-img {
  overflow-y: hidden;
  max-height: 200px;
}

/*.roomList {
  margin: 0 70px 0 300px;
}

.shindigList {
  margin: 0 70px 0 300px;
}*/

.roomList {
  margin: 0 35px 0 270px;
}

.shindigList {
  margin: 0 35px 0 270px;
}

.shindigList > h1 {
  font-size: 40px;
  letter-spacing: 5px;
}


.card-text h1 {
  text-align: center;
}

.card-text h2 {
  text-align: center;
}

.card-text h4 {
  text-align: center;
}

.roomImg {
  height:500px;
  width: auto;
}

a {
  text-decoration: none;
  color: seaGreen;
}

h2, h1, h4 {
  margin-top: 0px;
  color: seaGreen;
  padding-top: 20px;
}

.active {
  font-weight: bold;
  padding: 20px;
}
