.lightBlue {
  color: rgba(17, 189, 255, 1);
}

.lightGreen {
  color: rgba(157, 253, 206, 1);
}

.seaGreen {
  color: rgba(62, 207, 142, 1);
}

.salmonRed {
  color: rgba(254, 103, 126, 1);
}

.lightPurple {
  color: rgba(133, 137, 255, 1);
}

.purple {
  color: rgba(91, 72, 175, 1);
}

.roomList {
  margin: 0 35px 0 270px;
}

.myInfo {
  margin: 20px 20px 200px 20px;
}
